/*Content related*/

.modal .case-exRef h3::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  position: absolute;
  padding-left: 0.5rem;
}

.modal img {
  margin: 10px 10px;
  width: 150px;
  color: black;
}

.modal .over-text {
  font-size: medium;
  position: relative;
  top: -6rem;
}

.modal .add-button,
.modal .del-button {
  cursor: pointer;
  border: 1px solid gray;
  padding: 0.2rem;
  border-radius: 10px;
}

.modal .add-button:hover,
.modal .del-button:not(:disabled):hover {
  background-color: rgb(220, 220, 220);
}

.modal .del-button:disabled {
  cursor: not-allowed;
}

.modal .rotate-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 16px;
}

.modal .rotate-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-repeat' viewBox='0 0 16 16'%3E%3Cpath d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/%3E%3Cpath fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/%3E%3C/svg%3E");
}

.modal .rotate-button:active {
  transform: rotate(180deg);
  transition: 0.2s;
}

/*----------------------Table related---------------------------------*/

.algs-table {
  width: 100%;
  min-width: 250px;

  border-radius: 10%;
  border: 2px solid gray;
  border-collapse: collapse;
}

.algs-table :is(th, td){
  border: 1px solid gray;
  padding: 0.2rem;
}

.algs-table input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: medium;

  border: none;
  border-bottom: 1px solid gray;

  transition: all ease 300ms;
}

.algs-table input[type="text"]:focus {
  border-color: blue;
  outline: none;
}

.algs-table input[type="text"]:after {
  content: 'a';
}