.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;  
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0px 5px 10px gray;
  
    width: 600px;
    max-width: 100%;
    padding: 10px 50px 30px 50px;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .modal .case-exRef h3::after{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    position: absolute;
    padding-left: 0.5rem;
  }
  
  .modal img {
    margin: 10px 10px;
    width: 150px;
    color: black;
  }
  
  .modal .over-text {
    font-size: medium;
    position: relative;
    top: -6rem;
  }
  
  .modal .close-btn {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: larger;
  
    position: relative;
    top: 10px;
    left: 53%;
  }
  
  .modal .close-btn::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");;
  }
  
  .modal .add-button, .modal .del-button{
    cursor: pointer;
    border: 1px solid gray;
    padding: 0.2rem;
    border-radius: 10px;
  }
  
  .modal .add-button:hover, .modal .del-button:not(:disabled):hover{
    background-color: rgb(220, 220, 220);
  }
  
  .modal .del-button:disabled {
    cursor: not-allowed;
  }
  
  .modal .rotate-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 16px;
  }
  
  .modal .rotate-button::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-repeat' viewBox='0 0 16 16'%3E%3Cpath d='M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z'/%3E%3Cpath fill-rule='evenodd' d='M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z'/%3E%3C/svg%3E");
  }
  
  .modal .rotate-button:active{
    transform: rotate(180deg);
    transition: 0.2s;
  }
  
  /*----------------------Table related---------------------------------*/
  
  .algs-table {
    width: 100%;
    border: 2px solid gray;
    border-collapse: collapse;
  }
  
  .algs-table th, .algs-table td {
    border: 1px solid gray;
    padding: 0.2rem;
  }