@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --navbar-offset: 83px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(209,179,255);
  background: radial-gradient(circle, rgba(209,179,255,1) 0%, rgba(160,212,255,1) 100%);
  
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-top: 1rem;
  border-bottom: 1px solid gray;
}

input[type="radio"] {
  cursor: pointer;
}

input[type="text"]{
  width: 100%;
  height: 100%;
  font-size: medium;
}

select, option {
  cursor: pointer;
  font-size: medium;
}

a {
  text-decoration: none;
}

.vr {
  border: 1px solid gray;
}

/*-----------------------------------Cajas grandes-----------------------------------------*/

.mainContent {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid gray;

  margin: auto;
  padding: 2rem 2rem;
  width: 70%;

  margin-top: var(--navbar-offset);
}

@media (max-width: 992px) {
  .mainContent {
    width: 100%;
  }
}

/*----------------------------title------------------------------------*/

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title > div {
  margin-top: auto;
}

.algs {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 576px){
  .title {
    flex-direction: column;
  }
}

/*--------------------------------Case Image-----------------------------*/

.case-img {
  cursor: pointer;
  margin: 10px 10px;
  width: 90px;
  color: black;
  transition: 0.1s;
}

.case-img:hover{
  filter: brightness(60%);
  transition: 0.1s;
}

.case-img.rt0 {
  transform: rotate(0deg);
  transition: 0.2s;
}

.case-img.rt1 {
  transform: rotate(90deg);
  transition: 0.2s;
}

.case-img.rt2 {
  transform: rotate(180deg);
  transition: 0.2s;
}

.case-img.rt3 {
  transform: rotate(270deg);
  transition: 0.2s;
}

.over-text{
  height: 0;
  text-overflow: clip;
  pointer-events: none;
  color: transparent;
  font-weight: bold;
}

.case-img:hover ~ .over-text{
  color: white;
}

/*------------------------Scroll related---------------------------*/

.noscroll {
  overflow: hidden; 
}

body::-webkit-scrollbar {
  -webkit-appearance: none; 
}

body::-webkit-scrollbar:vertical {
  width:10px;
  background-color: rgba(255, 255, 255, 0.8);
}

body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}
